html {font-size: 100%;} /*16px*/

body {
  background: #FBF8F4;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #404040;
  width: 600px
}

p {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {font-size: 2.074rem;}

h3 {font-size: 1.728rem;}

h4 {font-size: 1.44rem;}

h5 {font-size: 1.2rem;}

small, .text_small {font-size: 0.833rem;}

fieldset {
  margin: 1rem 0;
}

ul.tags {
  column-count: 3;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

@media (max-width: 600px) {
  body {
    width: 400px;
  }

  ul.tags {
    column-count: 2;
  }
}
